GIT body {
            font-family: Arial, Helvetica, sans-serif;
            background: #f2f2f2;
            margin: 0;
            padding: 30px;
        }

        .container {
            max-width: 750px;
            background: white;
            padding: 25px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px gray;
        }

        h1 {
            text-align: center;
            color: #1A73E8;
            font-size: 32px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 12px;
            border: 1px solid gray;
            border-radius: 5px;
            font-size: 16px;
        }

        .error {
            color: red;
            font-size: 14px;
            display: none;
        }

        .radio-group {
            margin-top: 8px;
            margin-bottom: 5px;
        }

        button {
            margin-top: 20px;
            width: 100%;
            background: #1A73E8;
            padding: 15px;
            color: white;
            font-size: 18px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        button:hover {
            background: #0f5dc8;
        }

        /* Analytics Panel */
        #analyticsPanel {
            margin-top: 25px;
            padding: 20px;
            background: #e6e6e6;
            border-radius: 10px;
            display: none;
        }

        #toggleAnalytics {
            background: #0ca950;
            margin-top: 30px;
        }

        #toggleAnalytics:hover {
            background: #087c3a;
        }
