/* lOG iN */
        .container {
            width: 700px;
            margin: auto;
            border: 1px solid black;
        }
        .header, .footer {
            border-bottom: 1px solid black;
            padding: 10px;
            overflow: hidden;
        }
        .footer { 
            border-top: 1px solid black;
            text-align: center;
            padding: 10px;
        }
        .menu {
            float: right;
            margin-top: 10px;
        }
        .form-row {
            display: flex;
            justify-content: center;
            margin: 5px 5px;
        }
        .label {
            width: 100px;
            text-align: right;
            font-weight: bold;
            padding-right: 5px;
        }
        .Textbox {
            width: 200px;
            padding: 2px;
        }
        .box {
            width: 300px;
            margin: auto;
            border: 1px solid gray;
            padding: 20px;
            margin-top: 20px;
            text-align: left;
        }
        .btn {
            padding: 5px 15px;
            cursor: pointer;
        }
 
 